.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding .15s);
}

.wrapper-2 {
  text-align: center;
  width: 100%;
  max-width: 960px;
  margin: 0px auto;
  padding-top: 35px;
}